<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templates/css/cart.css"/>
    <script src="templates/js/jquery-1.11.2.min.js"></script>
    <script src="templates/js/ajaxQueries.js"></script>
    <title>Thank You</title>
</head>
<body>
<a href="/~user1/PHP/Bookshop/index.php" class="col-md-1 homeButton">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Home</span>

</a>
<div class="col-md-8 col-md-offset-1 well">
№ of order is %ORDER%.
You can check status in your cabinet.
    <img src="templates/images/order.jpg">
</div>
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="templates/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
