<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="templates/css/style.css"/>
    <script src="../templates/js/jquery-1.11.2.min.js"></script>
    <title>HomePage</title>
</head>

<body>

<h1><a href="/~user1/PHP/Bookshop/index.php"><img class="logo"/>BookShop</a></h1>

<div>
    <div id="left-bar" class="col-md-2 well">
        <table class="table">
            <tbody>
            <tr>
                <th>Books</th>
            </tr>
            <tr><td><a href="index.php?page=books_admin_ctrl&action=add">Add</a></td></tr>
            <tr><td><a href="index.php?page=books_admin_ctrl&action=edit">Edit / Delete</a></td></tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th>Genres</th>
            </tr>
            <tr><td><a href="index.php?page=genres_admin_ctrl&action=add">Add</a></td></tr>
            <tr><td><a href="index.php?page=genres_admin_ctrl&action=edit">Edit / Delete</a></td></tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th>Authors</th>
            </tr>
            <tr><td><a href="index.php?page=authors_admin_ctrl&action=add">Add</a></td></tr>
            <tr><td><a href="index.php?page=authors_admin_ctrl&action=edit">Edit / Delete</a></td></tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
            <tr>
                <th>Orders</th>
            </tr>
            <tr><td><a href="index.php?page=cabinetpaletteadminctrl">Show</a></td></tr>
            </tbody>
        </table>
    </div>
    <div class="product-index col-md-9">
        ###ACTION###
    </div>
</div>

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="../templates/libs/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="../templates/libs/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="../templates/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
