<div class="col-md-2 wellcome">WELLCOME %USER%</div>
<div class="col-md-1 logOff">
    <form method="POST" action="index.php?page=logoffctrl">
        <input type="submit" value="Log Off" class="btn btn-danger" />
    </form>
</div>
<div class="col-md-1 inCart">
    <div class="items"><span>0</span> items</div>
    <a href="index.php?page=cartctrl">
        <span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span></a>
    <div class="price"><span>0</span> $</div>
</div>
<div class="col-md-1 inCart">
    <a href="indexindex.php?page=cabinetctrl">
        <span class="glyphicon glyphicon-book cabinet pull-left" aria-hidden="true"></span></a>
</div>
